@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.scrollbar-hidden {
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
